page-home {
    font-family: 'Josefin Slab', serif;
    font-weight: 400;

}

.slogan {
    font-family: 'Josefin Slab', serif;
    font-weight: 700;

}

.card-img {
    width: 200px;
    height: 200px;
}

.items-aligning-card {
    margin: auto;
}

.aligning {
    text-align: center;
}